{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "google",
    "prettier"
  ],
  "plugins": [ "jest" ],
  "rules": {
    "require-jsdoc": 0,
    "no-debugger": "warn",
    "no-prototype-builtins": "off"
  }
}
