@use '~@/scss/utility/_variables' as v;
@use '~@/scss/utility/_mixins' as m;

.excel__formula {
  position: fixed;
  top: map-get(v.$header, height) + map-get(v.$toolbar, height);
  right: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: map-get(v.$formula, height);
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid map-get(v.$global, border-color);

  .info {
    min-width: map-get(v.$table, info-cell-width);
    width: map-get(v.$table, info-cell-width);
    font-size: 18px;
    text-align: center;
    font-style: italic;
    border-right: 1px solid map-get(v.$global, border-color);
    user-select: none;
  }

  .input {
    width: 100%;
    height: 100%;
    padding: 4px;
    color: #000000;
    font-size: 12px;
    outline: none;
  }
}
