.excel__header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: map-get(v.$header, height);
  padding: 8px 4px 0;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;

  .input {
    height: 20px;
    margin: 0;
    padding: 2px 7px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #000000;
    font-size: 18px;
    line-height: 120%;
    outline: none;

    &:hover {
      border-color: map-get(v.$global, border-color);
    }

    &:focus {
      padding: 1px 6px;
      border: 2px solid #1a73e8;
    }
  }

  .button {
    @include m.button(green);
  }
}
