@use '~@/scss/utility/_variables' as v;
@use '~@/scss/utility/_mixins' as m;

.excel__table {
  position: absolute;
  top: map-get(v.$header, height) + map-get(v.$toolbar, height) +
    map-get(v.$formula, height);
  right: 0;
  left: 0;
  padding-bottom: 2px;
  overflow-x: auto;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 24px;
    height: map-get(v.$table, row-height);
  }

  .row-info {
    position: relative;
    min-width: map-get(v.$table, info-cell-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid map-get(v.$global, border-color);
    border-top: none;
    border-left: none;
    background-color: #f8f9fa;
    user-select: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;
    min-width: 40px;
    width: map-get(v.$table, cell-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    border: 1px solid map-get(v.$global, border-color);
    border-top: none;
    border-left: none;
    user-select: none;
  }

  .cell {
    position: relative;
    min-width: 40px;
    width: map-get(v.$table, cell-width);
    height: 100%;
    padding: 5px;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    color: #111111;
    white-space: nowrap;
    outline: none;

    &.selected {
      z-index: 1;
      border-color: transparent;
      outline: 2px solid map-get(v.$global, primary-color);
    }
  }

  .col-resize,
  .row-resize {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 5px;
    opacity: 0;
    background-color: #3c74ff;
    transform: translateX(3px);

    &:hover,
    &:active {
      opacity: 1;
      cursor: col-resize;
    }

    &__inner {
      position: absolute;
      top: 0;
      width: 1px;
      background-color: #3c74ff;
      transform: translateX(2px);
      pointer-events: none;
    }
  }

  .row-resize {
    top: initial;
    left: 0;
    width: initial;
    height: 5px;
    transform: translateY(3px);

    &__inner {
      left: 0;
      height: 1px;
      transform: translateY(2px);
    }

    &:hover {
      cursor: row-resize;
    }
  }
}
