@mixin button($color: #188038) {
  position: relative;
  min-width: 24px;
  height: 24px;
  padding: 3px;
  display: inline-block;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  cursor: pointer;

  > .material-icons {
    font-size: 18px;
    pointer-events: none;
  }

  &:active,
  &.active {
    color: $color;
    background-color: #e6f4ea;
  }

  &:hover {
    background-color: #f1f3f4;
  }
}

@mixin clearList() {
  margin: 0;
  padding: 0;
  list-style: none;
}
